<div class="main-content">
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
            <!--<a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">
                <img src="assets/img/brand/argon-white.png" />
            </a>-->
            <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" aria-controls="sidenav-collapse-main">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <!--<a routerLinkActive="active" [routerLink]="['/dashboard']">
                                <img src="assets/img/brand/blue.png">
                            </a>-->
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
                <span></span>
                <span></span>
              </button>
                        </div>
                    </div>
                </div>
                <!-- Navbar items -->
                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item">
                        <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/dashboard']">
                            <i class="ni ni-planet"></i>
                            <span class="nav-link-inner--text">Dashboard</span>
                        </a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/register']">
                            <i class="ni ni-circle-08 darkColor"></i>
                            <span class="nav-link-inner--text darkColor">Register</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/login']">
                            <i class="ni ni-key-25 darkColor"></i>
                            <span class="nav-link-inner--text darkColor">Login</span>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/user-profile']">
                            <i class="ni ni-single-02"></i>
                            <span class="nav-link-inner--text">Profile</span>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
<!--
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; {{ test | date: "yyyy" }} <a href="https://www.creative-tim.com?ref=ada-footer-auth-layout" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link" target="_blank">Creative Tim</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation?ref=ada-footer-auth-layout" class="nav-link" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://blog.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
-->