/* You can add global styles to this file, and also import other style files */

.bg-gradient-bottom {
    background: #08BDBA !important;
}

.bg-gradient-top {
    background: #dde1e6 !important;
}

.fill-default {
    fill: #08BDBA !important;
}

.lightColor {
    color: #f2f4f8 !important;
}

.darkColor {
    color: #121619 !important;
}

.bg-gradient-buttons {
    background: #0f62fe !important;
    color: #f2f4f8;
}